* {
    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
    height: 63px;
    box-shadow: 0px 6px 10px #00000019;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    margin:auto;
}

main {
    margin: auto;
    margin: 60px 200px 0 200px;
}

#homebutton {
    float: left;
    margin-top: 19px;
    margin-left: 30px;
}
/* YOYOYOYOYO */
#useruser {
    float: right;
    margin-top: 19px;
    margin-right: 30px;
}

.titletext {
 
}

#titleinput {
    width: 50%;
    height: 49px;
    border-radius: 6px;
    margin-top: 5px;
    font-size: 25px;
}
.contenttext {
    margin-top: 30px;
}

#contentinput {
    width: 100%;
    height: 135px;
    border-radius: 6px;
    margin-top: 5px;
    font-size: 17px;
}

#addcard {
    height: 30px;
    width: 90px;
    margin-top: 5px;
    float: right;
    border-radius: 10%;
    background: #56D4C2 0% 0% no-repeat padding-box;
    color:#FFFFFF;
}

#gridblock {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 30% 30% 30%;
    column-gap: 40px;
    row-gap: 49px;
    justify-content: center;
}

.todoarticle {
    height: 163px;
    margin-top: 20px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 8px 16px #5DD3D829;
    border-radius: 8px;
    
}

.maintitle {
    margin-top: 40px;
}

#todotext {
    margin-top: 50px;
}

.cardtitle {
    margin-top: 27px;
    margin-left: 30px;
    margin-bottom: 5px;
}

.cardtext {
    margin-left: 30px;
    margin-right: 53px;
}

.cardbutton {
    margin: 5px 22px 24px 0;
    float: right;
    background: #56D4C2 0% 0% no-repeat padding-box;
    border-radius: 5px;
    color: #FFFFFF;
}

@media (max-width: 1199.98px) {
    #gridblock {
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: 30% 30% 30%;
        column-gap: 40px;
        row-gap: 49px;
        justify-content: center;
    }
    main {
        margin: auto;
        margin: 60px 150px 0 150px;
    }

}

@media (max-width: 991.98px) {
    #gridblock {
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: 30% 30% 30%;
        column-gap: 40px;
        row-gap: 49px;
        justify-content: center;
    }

    main {
        margin: 60px 80px 0 80px;
    }
}

@media (max-width: 800px) {

    #gridblock {
        grid-template-columns: 100%;
        grid-template-rows: 163px  163px 163px 163px 163px 163px;
        column-gap: 0px;
        row-gap: 10px;
        margin-top: 5px;
    }

    main {
        margin: 60px 50px 0 50px;
    }
}




